{% extends "base.html" %}
{% block content %}
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:9925/favicon.ico">
                <div class="header">
                    Mealie
                </div>
                <div class="description">
                    Recipe book, meal prep helper
                </div>
            </div>
            <div class="extra content">
                <a href="http://chimaera:9925/">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:8123/favicon.ico">
                <div class="header">
                    Paperless-NGX
                </div>
                <div class="description">
                    Document management system
                </div>
            </div>
            <div class="extra content">
                <a href="http://chimaera:8123/">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:4000/favicon.ico">
                <div class="header">
                    Teslamate
                </div>
                <div class="description">
                    Tesla Model 3 stats
                </div>
            </div>
            <div class="extra content">
                <a href="http://chimaera:4000/">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:8080/admin/img/favicons/favicon.ico">
                <div class="header">
                    Pi-hole
                </div>
                <div class="description">
                    DNS, DNS black hole, ad blocking
                </div>
            </div>
            <div class="extra content">
                <a href="http://chimaera:8080/admin">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:32400/favicon.ico">
                <div class="header">
                    Plex
                </div>
                <div class="description">
                    Stream movies and TV shows (from server)
                </div>
            </div>
            <div class="extra content">
                <a href="http://chimaera:32400/">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="https://chimaera:8834/favicon.ico">
                <div class="header">
                    Nessus
                </div>
                <div class="description">
                    Vuln Mgmt (free edition)
                </div>
            </div>
            <div class="extra content">
                <a href="https://chimaera:8834/">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="https://wiki.wrycu.com/static/img/otter-favicon.png">
                <div class="header">
                    Wiki
                </div>
                <div class="description">
                    Note taking / sharing
                </div>
            </div>
            <div class="extra content">
                <a href="https://wiki.wrycu.com">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="https://swrpg.wrycu.com/icons/vtt-512.png">
                <div class="header">
                    Foundry
                </div>
                <div class="description">
                    TTRPG platform
                </div>
            </div>
            <div class="extra content">
                <a href="https://swrpg.wrycu.com">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="http://chimaera:8082/img/monica.svg">
                <div class="header">
                    Monica
                </div>
                <div class="description">
                    Relationship management software
                </div>
            </div>
            <div class="extra content">
                <a href="https://chimaera:8082/">Open</a>
            </div>
        </div>
    </div>
{% endblock %}