{% extends "base.html" %}
{% block content %}
<div class="ui cards">
{% for site in sites %}
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="{{ site.fav_ico }}">
            <div class="header">
                {{ site.name }}
            </div>
            <div class="description">
                {{ site.description }}
            </div>
        </div>
         <div class="extra content">
            <a href="{{ site.url }}">Open</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}